@model IEnumerable <CsStat.Domain.Entities.PlayerStatsModel>

<form class="table">
    <div class="table">
        <table class="table table-striped">
            <tr>
                <th />
                <th>Player Name</th>
                <th>Total Games</th>
                <th>K/D Ratio</th>
                <th>Kills</th>
                <th>Deaths</th>
                <th>Assists</th>
                <th>Head Shot</th>
                <th>Defused Bombs</th>
                <th>Exploded Bombs</th>
                <th>Kills Per Game</th>
                <th>Deaths Per Game</th>
                <th>Assists Per Game</th>
                <th>Favorite Gun</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src='@Url.Content(@"~/Files"+item.Player.ImagePath)' width="80" height="100" alt="image"></td>
                    <td>@item.Player.NickName</td>
                    <td>@item.TotalGames</td>
                    <td>@item.KdRatio</td>
                    <td>@item.Kills</td>
                    <td>@item.Death</td>
                    <td>@item.Assists</td>
                    <td>@item.HeadShot</td>
                    <td>@item.Defuse</td>
                    <td>@item.Explode</td>
                    <td>@item.KillsPerGame</td>
                    <td>@item.DeathPerGame</td>
                    <td>@item.AssistsPerGame</td>
                    <td>@item.FavoriteGun</td>
                </tr>
            }
        </table>
    </div>
</form>